In [32]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [33]:
food_waste = pd.read_csv('Data/Food_waste.csv')
food_waste = food_waste.drop(["M49 code", "Region", "Source", "Confidence in estimate"], axis = 1)
food_waste

,Country,combined figures (kg/capita/year),Household estimate (kg/capita/year),Household estimate (tonnes/year),Retail estimate (kg/capita/year),Retail estimate (tonnes/year),Food service estimate (kg/capita/year),Food service estimate (tonnes/year)
0,Afghanistan,126,82,3109153,16,594982,28,1051783
1,Albania,127,83,238492,16,45058,28,79651
2,Algeria,135,91,3918529,16,673360,28,1190335
3,Andorra,123,84,6497,13,988,26,1971
4,Angola,144,100,3169523,16,497755,28,879908
...,...,...,...,...,...,...,...,...
207,Venezuela,116,72,2065461,16,445994,28,788407
208,Vietnam,120,76,7346717,16,1508689,28,2666991
209,Yemen,148,104,3026946,16,456099,28,806270
210,Zambia,122,78,1391729,16,279350,28,493822
211,Zimbabwe,144,100,1458564,16,229059,28,404920

In [34]:
world_data = pd.read_csv('Data/world-data-2023.csv')
world_data = world_data[["Country","Abbreviation",  "Density\n(P/Km2)", "CPI", "Co2-Emissions", "Minimum wage", "Total tax rate", "Unemployment rate", "Urban_population", "GDP"]]
world_data

,Country,Abbreviation,Density\n(P/Km2),CPI,Co2-Emissions,Minimum wage,Total tax rate,Unemployment rate,Urban_population,GDP
0,Afghanistan,AF,60,149.9,"8,672",$0.43,71.40%,11.12%,"9,797,273","$19,101,353,833"
1,Albania,AL,105,119.05,"4,536",$1.12,36.60%,12.33%,"1,747,593","$15,278,077,447"
2,Algeria,DZ,18,151.36,"150,006",$0.95,66.10%,11.70%,"31,510,100","$169,988,236,398"
3,Andorra,AD,164,NaN,469,$6.63,NaN,NaN,"67,873","$3,154,057,987"
4,Angola,AO,26,261.73,"34,693",$0.71,49.10%,6.89%,"21,061,025","$94,635,415,870"
...,...,...,...,...,...,...,...,...,...,...
190,Venezuela,VE,32,"2,740.27","164,175",$0.01,73.30%,8.80%,"25,162,368","$482,359,318,768"
191,Vietnam,VN,314,163.52,"192,668",$0.73,37.60%,2.01%,"35,332,140","$261,921,244,843"
192,Yemen,YE,56,157.58,"10,609",NaN,26.60%,12.91%,"10,869,523","$26,914,402,224"
193,Zambia,ZM,25,212.31,"5,141",$0.24,15.60%,11.43%,"7,871,713","$23,064,722,446"
194,Zimbabwe,ZW,38,105.51,"10,983",NaN,31.60%,4.95%,"4,717,305","$21,440,758,800"

In [37]:
df = food_waste.merge(world_data, how = 'left', on = "Country")

In [38]:
df

,Country,combined figures (kg/capita/year),Household estimate (kg/capita/year),Household estimate (tonnes/year),Retail estimate (kg/capita/year),Retail estimate (tonnes/year),Food service estimate (kg/capita/year),Food service estimate (tonnes/year),Abbreviation,Density\n(P/Km2),CPI,Co2-Emissions,Minimum wage,Total tax rate,Unemployment rate,Urban_population,GDP
0,Afghanistan,126,82,3109153,16,594982,28,1051783,AF,60,149.9,"8,672",$0.43,71.40%,11.12%,"9,797,273","$19,101,353,833"
1,Albania,127,83,238492,16,45058,28,79651,AL,105,119.05,"4,536",$1.12,36.60%,12.33%,"1,747,593","$15,278,077,447"
2,Algeria,135,91,3918529,16,673360,28,1190335,DZ,18,151.36,"150,006",$0.95,66.10%,11.70%,"31,510,100","$169,988,236,398"
3,Andorra,123,84,6497,13,988,26,1971,AD,164,NaN,469,$6.63,NaN,NaN,"67,873","$3,154,057,987"
4,Angola,144,100,3169523,16,497755,28,879908,AO,26,261.73,"34,693",$0.71,49.10%,6.89%,"21,061,025","$94,635,415,870"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
207,Venezuela,116,72,2065461,16,445994,28,788407,VE,32,"2,740.27","164,175",$0.01,73.30%,8.80%,"25,162,368","$482,359,318,768"
208,Vietnam,120,76,7346717,16,1508689,28,2666991,VN,314,163.52,"192,668",$0.73,37.60%,2.01%,"35,332,140","$261,921,244,843"
209,Yemen,148,104,3026946,16,456099,28,806270,YE,56,157.58,"10,609",NaN,26.60%,12.91%,"10,869,523","$26,914,402,224"
210,Zambia,122,78,1391729,16,279350,28,493822,ZM,25,212.31,"5,141",$0.24,15.60%,11.43%,"7,871,713","$23,064,722,446"
211,Zimbabwe,144,100,1458564,16,229059,28,404920,ZW,38,105.51,"10,983",NaN,31.60%,4.95%,"4,717,305","$21,440,758,800"